<% if (locals.errors && errors.length) { %>
  <div class="errors" role="alert">
    <p class="errors__title">Please fix the following</p>
    <ul>
      <% errors.forEach(function (error) { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  </div>
<% } %>